<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h2> Welcome </h2>
   <a href="/admin/dashboard">Dashboard</a>
  {{#if message}}
  <h1>{{message}}</h1>
  <table>
    <tr>
      <td><img src="/userimages/{{admin.Image}}" width="120" height="130" alt=""></td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{admin.email}}</td>
    </tr>
    <tr>
      <td>Phone</td>
      <td>{{admin.phone}}</td>
    </tr>
  </table>
  {{/if}}

  <a href="/admin/logout">Logout</a>
</body>

</html>