<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>

<body>
    {{!-- {{>header}} --}}
    <h1>Reset Password</h1>
    {{#if message}}
    <h3>{{message}}</h3>
  {{/if}}
    <form action="/admin/forget-password" method='Post'>
     
        Password<br>
        <input type="password" name='password' placeholder="Enter your password">
        <input type="hidden" name='user' value="{{user}}">
        <br>
        <br>
        <button type="submit">Reset</button>
    </form>
     {{!-- <a href="/admin/forgot">Forget Password?</a> --}}
    {{!-- <a href="/is_verified">Is_Varified?</a> --}} 
    {{>footer}}
</body>

</html>