<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>

<body>
    {{!-- {{>header}} --}}
    <h1>Forget Reset password</h1>
    
    <form action="/forget-password" method="post">
        <input type="password" name="password" required placeholder="Enter your password">
         <input type="hidden" name="user_id" value="{{user_id}}">

        <br>
        <br>
        <button type="submit">Reset password</button>
    </form>

    {{>footer}}
</body>

</html>
